*

# Project files
!/.env.example
!/go.mod
!/go.sum
!/LICENSE
!/README.md
!/server.go
!/taskfile.yml

# WWW
!/www/
!/www/**
/www/dist/
/www/node_modules/
# FIXME: why
/www/bundle.html

# GIT
!/.gitattributes
!/.gitignore

# GitHub
!/.github/
!/.github/**
!/.github/renovate.json
!/.github/workflows/*.yml

# Docker
!/.dockerignore
!/Dockerfile
