@import "tailwindcss";

@plugin "daisyui" {
	/* biome-ignore lint/correctness/noUnknownProperty: Missing proper Tailwind CSS 4 support */
	logs: false;
	/* biome-ignore lint/correctness/noUnknownProperty: Missing proper Tailwind CSS 4 support */
	themes: dark, light;
}

@plugin "daisyui/theme" {
	/* biome-ignore lint/correctness/noUnknownProperty: Missing proper Tailwind CSS 4 support */
	name: default;
	/* biome-ignore lint/correctness/noUnknownProperty: Missing proper Tailwind CSS 4 support */
	default: true;
	color-scheme: dark;

	--color-base-100: #1a1a1a;
	--color-base-200: #202020;
	--color-base-300: #2a2a2a;
	--color-base-content: #cdcdcd;

	--color-primary: #ffe184;
	--color-primary-content: #cdcdcd;

	--color-secondary: #202020;
	--color-secondary-content: #cdcdcd;

	--color-accent: #303030;
	--color-accent-content: #d1d1d1;

	--color-neutral: #202020;
	--color-neutral-content: #cdcdcd;

	--color-info: #5954ef;
	--color-info-content: #d9dfff;

	--color-success: #70ef54;
	--color-success-content: #041402;

	--color-warning: #efd554;
	--color-warning-content: #141002;

	--color-error: #ef5454;
	--color-error-content: #140202;

	--radius-selector: .5rem;
	--radius-field: .25rem;
	--radius-box: .5rem;

	--size-selector: .25rem;
	--size-field: .25rem;

	--border: 1px;
	--depth: 0;
	--noise: 0;
}

:root {
	user-select: none;
}
